<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Document</title>
</head>
<body><div class="container">
    <h2>Login / Signup</h2>
    <hr>
    <h3>Login</h3>
    {% if message %}
    <p class="error">{{ message }}</p>
    {% endif %}
    <form action="/student-login" method="post">
        <label>Email address</label>
        <input type="email"name="email"required>
        
        <label>Password</label>
        <input type="password"name="password"required>
        
        <label>Role</label>
        <div class="radio-group">
            <label class="radio-label">
                <input type="radio" name="role" value="Admin" required>
                Admin
            </label>
            <label class="radio-label">
                <input type="radio" name="role" value="Student">
                Student
            </label>
        </div>
        
        <button id="submitBtn"type="submit">Log In As Student</button>

    </form>
    <hr>
    <div class="bottom-buttons">

        <a href="/reset-password">
            <button type="button">
                Forgotten Password?
            </button>
        </a>

        <a href="/signup-student">
            <button type="button">
                Sign Up
            </button>
        </a>

    </div>
</div>

<script>
if (window.location.search.includes("error=1")) {
    window.history.replaceState({}, "", "/login");
}

const button = document.getElementById("submitBtn");
document.querySelectorAll('input[name="role"]').forEach(radio => {
    radio.addEventListener("change", () => {
        button.textContent = `Log In As ${radio.value}`;
    });
});
</script>
</body>
</html>
